### logistic regression

In [203]:
import pandas as pd

In [204]:
data=pd.read_csv(r'C:\ankitha\AIML\MACHINE LEARNING AIML\logistic_regression.csv')

In [205]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [206]:
gender=pd.get_dummies(data['Gender'],drop_first=True)
data=pd.concat((gender,data),axis=1)
data=data.drop('Gender',axis=1)

In [207]:
data

     Male   User ID  Age  EstimatedSalary  Purchased
0       1  15624510   19            19000          0
1       1  15810944   35            20000          0
2       0  15668575   26            43000          0
3       0  15603246   27            57000          0
4       1  15804002   19            76000          0
..    ...       ...  ...              ...        ...
395     0  15691863   46            41000          1
396     1  15706071   51            23000          1
397     0  15654296   50            20000          1
398     1  15755018   36            33000          0
399     0  15594041   49            36000          1

[400 rows x 5 columns]

In [208]:
data.columns=['Gender','User ID','Age','Salary','Purchased']
data.head()

   Gender   User ID  Age  Salary  Purchased
0       1  15624510   19   19000          0
1       1  15810944   35   20000          0
2       0  15668575   26   43000          0
3       0  15603246   27   57000          0
4       1  15804002   19   76000          0

In [209]:
x=data.drop('Purchased', axis=1)
y=data['Purchased'].values

In [210]:
x

     Gender   User ID  Age  Salary
0         1  15624510   19   19000
1         1  15810944   35   20000
2         0  15668575   26   43000
3         0  15603246   27   57000
4         1  15804002   19   76000
..      ...       ...  ...     ...
395       0  15691863   46   41000
396       1  15706071   51   23000
397       0  15654296   50   20000
398       1  15755018   36   33000
399       0  15594041   49   36000

[400 rows x 4 columns]

In [211]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [212]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, 
                                                    random_state=0)

In [213]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
sc= StandardScaler() 
mm=MinMaxScaler()

In [214]:
x_train=sc.fit_transform(x_train) 
x_test=sc.transform(x_test)         
x_train

array([[-0.98019606,  1.67009484,  0.58164944, -0.88670699],
       [ 1.02020406, -1.52442817, -0.60673761,  1.46173768],
       [-0.98019606,  0.59613378, -0.01254409, -0.5677824 ],
       ...,
       [ 1.02020406, -1.4150439 , -0.21060859, -0.50979612],
       [-0.98019606,  1.19419143, -1.10189888, -0.45180983],
       [-0.98019606,  1.45259625, -1.20093113,  1.40375139]])

In [215]:
x_train = mm.fit_transform(x_train)  # intialy find mean and std of train data then fits test data
x_test = mm.transform(x_test)
x_train

array([[0.        , 0.97898573, 0.61904762, 0.17777778],
       [1.        , 0.05716729, 0.33333333, 0.77777778],
       [0.        , 0.66908121, 0.47619048, 0.25925926],
       ...,
       [1.        , 0.08873145, 0.42857143, 0.27407407],
       [0.        , 0.84165801, 0.21428571, 0.28888889],
       [0.        , 0.91622386, 0.19047619, 0.76296296]])

In [216]:
from sklearn.linear_model import LogisticRegression

In [217]:
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [218]:
y_pred=lr.predict(x_test)  
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [219]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [220]:
from sklearn.metrics import  confusion_matrix,accuracy_score

In [221]:
confusion_matrix(y_test,y_pred)

array([[67,  1],
       [ 9, 23]], dtype=int64)

In [222]:
accuracy_score(y_test,y_pred)*100

90.0

### KNeighborsRegressor

In [223]:
from sklearn.neighbors import KNeighborsClassifier

In [224]:
knn=KNeighborsClassifier(  n_neighbors=5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [225]:
y_pred=knn.predict(x_test)  
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [226]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [227]:
from sklearn.metrics import  confusion_matrix,accuracy_score

In [228]:
confusion_matrix(y_test,y_pred)

array([[65,  3],
       [ 6, 26]], dtype=int64)

In [229]:
accuracy_score(y_test,y_pred)*100

91.0